body {
    padding: 5%;
    background-color: #ccc9b7;
    font-family: 'Droid Sans', sans-serif;
}

#header {
    background-color: #393a38;
    color: white;
    height: 50%;
}

#left-header {
    display: flex;
    padding: 6%;
}

h1 {
    font-size: 54px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black
}

#right-header {
    padding-bottom: 3%;
    padding-left: 9%;
    padding-top: 6%;
    color: grey;
}

#header-info {
}

#links{
}

#profile-picture {
    width: 35%;
    height: 35%;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

#resume-container{
    background-color: white;
}

#content-body {
    background-color: white;
}

#profile-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
}

#development-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    padding-top: 3%;
}

#professional-container {
    padding-top: 3%;
}

.text-paragraphs {
    padding-top: 3%;
    padding-bottom: 3%;
}

.top-spacing {
    padding-top: 1%;
}

#left-column {
    margin: 3%;
    padding: 3%;
    padding-top: 0;
    border-right: solid;
    border-width: 2px;
    border-color: grey;
}

@media (max-width: 1000px) {
    #left-column {
        border: none;
        padding: 0;
    }
    #profile-container {
        border: none;
    }
    #development-container {
        border: none;
    }
    .text-paragraphs {
        padding-right: 6%;
    }
}

#right-column {
    padding: 3%;
}

.skill-item {
    display: flex;
}

.list-title {
    width: 20%;
}

#right-skills-container {
}

.skill-list-container {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 5%;
}
