body {
    padding: 5%;
    background-color: #ccc9b7;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #393a38;
    color: white;
    height: 50%;
}

#left-header {
    display: flex;
    padding: 6%;
}

h1 {
    font-size: 54px;
}
h4 {
    line-height: 24px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black
}

#right-header {
    padding-bottom: 3%;
    padding-left: 6%;
    padding-top: 6%;
    color: grey;
}

#header-info {
}

#links{
}

#profile-picture {
    width: 35%;
    height: 35%;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

#resume-container{
    background-color: white;
}

#content-body {
    background-color: white;
}

#profile-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
}

#development-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    padding-top: 3%;
}

#professional-container {
    padding-top: 3%;
}

.text-paragraphs {
    padding-top: 3%;
    padding-bottom: 3%;
}

.top-spacing {
    padding-top: 1%;
}

#left-column {
    margin: 3%;
    padding: 3%;
    padding-top: 0;
    border-right: solid;
    border-width: 2px;
    border-color: grey;
}


#right-column {
    padding-top: 3%;
    padding-left: 0;
    padding-right: 0;
}

.skill-item {
    display: flex;
}

.list-title {
    width: 20%;
}

#right-skills-container {
}

.skill-list-container {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 5%;
}

@media (max-width: 1000px) {
    #left-column {
        border: none;
        padding: 0;
    }
    #right-column {
        padding-left: 3%;
    }
    #profile-container {
        border: none;
    }
    #development-container {
        border: none;
    }
    .text-paragraphs {
        padding-right: 6%;
    }
}

/* Print styling */

@media print {
body {
    padding: 5%;
    background-color: #ccc9b7;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #393a38;
    color: white;
    height: 50%;
}

#left-header {
    display: flex;
    padding: 6%;
}

h1 {
    font-size: 54px;
}

h4 {
    line-height: 24px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black
}

#right-header {
    padding-bottom: 3%;
    padding-left: 6%;
    padding-top: 6%;
    color: grey;
}

#header-info {
}

#links{
}

#profile-picture {
    width: 35%;
    height: 35%;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

#resume-container{
    background-color: white;
}

#content-body {
    background-color: white;
}

#profile-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
}

#development-container {
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    padding-top: 3%;
}

#professional-container {
    padding-top: 3%;
}

.text-paragraphs {
    padding-top: 3%;
    padding-bottom: 3%;
}

.top-spacing {
    padding-top: 1%;
}

#left-column {
    margin: 3%;
    padding: 3%;
    padding-top: 0;
    border-right: solid;
    border-width: 2px;
    border-color: grey;
}

@media (max-width: 1000px) {
    #left-column {
        border: none;
        padding: 0;
    }
    #profile-container {
        border: none;
    }
    #development-container {
        border: none;
    }
    .text-paragraphs {
        padding-right: 6%;
    }
}

#right-column {
    padding-top: 3%;
    padding-left: 0;
    padding-right: 0;
}

.skill-item {
    display: flex;
}

.list-title {
    width: 20%;
}

#right-skills-container {
}

.skill-list-container {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 5%;
}



[class*="col-sm-"] {
	float: left;
}

[class*="col-xs-"] {
	float: left;
}

.col-sm-12, .col-xs-12 { 
	width:100% !important;
}

.col-sm-11, .col-xs-11 { 
	width:91.66666667% !important;
}

.col-sm-10, .col-xs-10 { 
	width:83.33333333% !important;
}

.col-sm-9, .col-xs-9 { 
	width:75% !important;
}

.col-sm-8, .col-xs-8 { 
	width:66.66666667% !important;
}

.col-sm-7, .col-xs-7 { 
	width:58.33333333% !important;
}

.col-sm-6, .col-xs-6 { 
	width:50% !important;
}

.col-sm-5, .col-xs-5 { 
	width:41.66666667% !important;
}

.col-sm-4, .col-xs-4 { 
	width:33.33333333% !important;
}

.col-sm-3, .col-xs-3 { 
	width:25% !important;
}

.col-sm-2, .col-xs-2 { 
	width:16.66666667% !important;
}

.col-sm-1, .col-xs-1 { 
	width:8.33333333% !important;
}
  
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
float: left !important;
}

body {
	margin: 0;
	padding 0 !important;
	min-width: 768px;
}

.container {
	width: auto;
	min-width: 750px;
}

body {
	font-size: 10px;
}

a[href]:after {
	content: none;
}

.noprint, 
div.alert, 
header, 
.group-media, 
.btn, 
.footer, 
form, 
#comments, 
.nav, 
ul.links.list-inline,
ul.action-links {
	display:none !important;
}

}
