#aukai-tirrell,#development-experience,#education,#link-header,#objective,#professional-experience,#technical-skills {
    text-align:center
}
ol {
    border:none;
    margin-bottom:10px;
    text-align:left
}
@media print {
    body,html {
        padding:0
    }
    body {
        margin-left:5px;
        margin-right:5px
    }
    html {
        width:100%;
        margin:0;
        float:none
    }
    h1 {
        font-size:24px
    }
    h2 {
        font-size:19px
    }
    h3 {
        font-size:16px
    }
    h4,h5,li,p {
        font-size:13px
    }
    ol {
        padding:none;
    }
}
